
.catalog__display{
 //   position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
.filtr-box{
    display: flex;
    gap:64px;
}
.filtr {
    position: absolute;
    left: auto;
    left: -350px;
    top: 54px;
    z-index: 1;
    padding: 40px 48px;
    border: none;
    &__left{
        width: 190px;
    }
    &__right{
        width: 155px;
    }
    &__title {
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 16px;
    }

    &__srok {
        padding-bottom: 32px;
        &_input {
            display: flex;
            gap: 14px;
            color: rgb(0, 0, 0);

            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    &__txt{
        display: flex;
        gap: 14px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__place{
        &_input{
            display: flex;
            gap: 14px;
            color: rgb(0, 0, 0);

            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    &__btm{
        box-sizing: border-box;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        width: 190px;
        height: 40px;
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        background-color: transparent;
        cursor: pointer;
    }
    &__btm-box{
        margin-top: 36px;
        display: flex;
        justify-content: flex-end;
        
    }
}
input[type="radio"]{
    display: none;
}
input[type="radio"]+label{
    position: relative;
    padding-left: 29px;
    cursor: pointer;
}
input[type="radio"]+label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;   
    height: 15px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 60px;    
    
    transform: translateY(-50%);
}
input[type="radio"]:checked+label::after{
    content: "";
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    background-image: url(./galka.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    display: block;
    
}
.range__container{
    position: relative;
    width: 200px;
    margin-top: 14px;
    padding-bottom: 32px;
}
input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
input[type=range]::-webkit-slider-runnable-track{
    width: 189.05px;
    height: 0;
    left: 0.39px;
    top: 35.5px;
    border: 1px solid rgb(0, 0, 0);
}
input[type=range]::-webkit-slider-thumb{
    background: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    width: 8px;
    height: 8px;
    -webkit-appearance: none;
    margin-top: -4px;
    pointer-events: all;
}
input[type=range]::-moz-range-track{
    width: 189.05px;
    height: 0;
    left: 0.39px;
    top: 35.5px;
    border: 1px solid rgb(0, 0, 0);
}
input[type=range]::-moz-range-thumb{
    background: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    pointer-events: all;
}
.range__min::-webkit-slider-thumb{
    z-index: 2;
}
.range__max::-webkit-slider-thumb{
    z-index: 1;
}
.range__min::-moz-range-thumb{
    z-index: 2;
}
.range__max::-moz-range-thumb{
    z-index: 1;
}
.color-box{
    display: flex;
    width: 190px;
    flex-wrap: wrap;
    gap: 14px;
}

input[type=checkbox]{
    display: none;
}
.checkbox-color{
    width: 15px;
    height: 15px;
}
input[type="checkbox"]+label{
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    left: 0;
    width: 15px;   
    height: 15px;
    border: 1px solid rgb(136, 136, 136);

}    

input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    background-image: url(./galka.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    display: block;
    
}
input[type="checkbox"]:checked+.color-black::after{
    content: "";
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    background-image: url(./galka-white.svg);

    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    display: block;
}
.color-white::before{
    border: 1px solid rgb(136, 136, 136);
    background: rgb(255, 255, 255); 
}
.color-black::before{
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    border-color: black;
}
.color-gray::before{
    background-color: #737373;
    border-color: #737373;
}
.color-red::before{
    background-color: #f00;
    border-color: #f00;
}
.color-orange::before{
    background-color: #ff4500;
    border-color: #ff4500;
}
.color-yellow::before{
    background-color: #ff0;
    border-color: #ff0;
}
.color-green::before{
    background-color: #008000;
    border-color: #008000;
}
.color-teal::before{
    background-color: #40e0d0;
    border-color: #40e0d0;
}
.color-light-blue::before{
    background-color: #009fe3;
    border-color: #009fe3;
}
.color-blue::before{
    background-color: #00f;
    border-color: #00f;
}
.color-purple::before{
    background-color: #800080;
    border-color: #800080;
}
.color-violet::before{
    background-color: #8a2be2;
    border-color: #8a2be2;
}
.color-lavender::before{
    background-color: #d89aff;
    border-color: #d89aff;
}
.color-pink::before{
    background-color: #ff1493;
    border-color: #ff1493;
}
input[name="room"]+label{

    padding-left: 29px;

}